html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: hsl(212, 27%, 19%);
}


/*HEADER*/

header {
    height: 100vh;
}
.hero__background {
    background-image: url(../images/image-header.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    display: flex;
    justify-content:space-between
}

.nav__container {
    display: flex;
    padding: 2rem;
    justify-content:end;
    text-align: end;
}

nav ul {
    display: flex;
    list-style: none;
    color: white;
}

nav li a{
    text-decoration: none;
    padding: 0 2rem;
    color: white;
    padding-top: 5rem;
}

.nav__header {
    color: white;
    padding: 1rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.nav_contact {
    background-color: white;
    border-radius: 2rem;
    width: 8rem;
    height: 3rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    margin-top: -2rem;
}


.nav_contact:hover {
    color: white;
    background-color: rgb(60, 188, 251);
}

.hero__header {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
}
.arrow {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
}

/*ABOUT*/

.about__container {
    display: flex;
    box-sizing: border-box;
    text-align: left;
}

.about__item {
    flex-basis: 50%;
    height: 600px;
}

.about-1__container {
    flex-direction: row-reverse;
}

.about-1__photo {
    background-image: url(../images/image-transform.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-2__photo {
    background-image: url(../images/image-stand-out.jpg);
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about__text-container {
    padding: 8rem;
}

.about__header {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
}

.about__text {
    color: hsl(232, 10%, 55%)
}
.about__button {
    text-transform: uppercase;
    background-color: white;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 14px;
    width: 8rem;
    height: 2rem;
    text-align: left;
    border: none;
    text-decoration: underline;
    text-decoration-color: hsl(7, 99%, 70%);
    text-decoration-thickness: 0.25rem;
    cursor: pointer;
}

.about-1__button {
    text-decoration-color: hsl(7, 99%, 70%);  
}
.about-2__button {
    text-decoration-color:hsl(51, 100%, 49%);
}

/*SERVICES*/

.services__container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    text-align: center;
}

.service-wrapper {
    height: 600px;
    flex-basis: 50%;
}

.service {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.services__text-container {
    padding: 19rem 9rem 9rem 9rem;
}

.services-1 {
    color: hsl(167, 40%, 24%);
    background-image: url(../images/image-graphic-design.jpg);
}

.services-2 {
    color: hsl(198, 62%, 26%);
    background-image: url(../images/image-photography.jpg);
}

.services__header {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 26px;
}


/*TESTIMONIALS*/

.testimonials {
    padding: 4rem 6rem;
    text-align: center;
}

.testimonials__container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.testimonial {
    padding: 2rem;
}

.testimonials__header {
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.testimonial-icon {
    border-radius:50%;
}

.testimonials__text {
    padding: 2rem 0;
    color: hsl(213, 9%, 39%);
}

.testimonials__name {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.testimonials__job {
    color: hsl(210, 4%, 67%);
}

/*PROJECTS*/

.projects {
    display: flex;
    box-sizing: border-box;
    padding: 0;
}

.project {
    flex-basis: 25%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-1 {
    background-image: url(../images/image-gallery-milkbottles.jpg);
}

.project-2 {
    background-image: url(../images/image-gallery-orange.jpg);
}

.project-3 {
    background-image: url(../images/image-gallery-cone.jpg);
}

.project-4 {
    background-image: url(../images/image-gallery-sugarcubes.jpg)
}


/*FOOTER*/
.footer {
    color: hsl(168, 34%, 41%);
    padding: 2rem 4rem;
    text-align: center;
    background-color: #90d4c5;
}

.footer__header {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.button_container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer__button {
    border: none;
    background-color: transparent;
    color: hsl(168, 34%, 41%);
    cursor: pointer;
    padding: 1rem 1rem;
}

.footer__button:hover {
    color: white;
}

.footer__icon {
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}